// TABLE OF CONTENTS

	// #0 Globals
	// #1 Header
	// #2 Navigation
	// #3 Home
	// #4 Service Pages
	// #5 Home Performance Pages
	// #6 Home Performance Products
	// #7 About Us
	// #8 Staff Detail (pop-up)
	// #9 Contact Joe
	// #10 Blog Landing
	// #11 Service Memberships
	// #12 Watchdog Service Membership
	// #13 Reviews
	// #14 Employee Files
	// #15 Products
	// #16 Staff
	// #17 Footer
	// #18 Service Area Map
	// #19 Interior Page Styles
	// #20 Careers
	// #21 5 Point Guarantee

	// #22 Header Update
	// #23 Home Page Update
	// #24 Footer Update
//


// #0 Globals

body {
	font-family: $font !important;
}

// Hide iframe content until loaded
html.no-js {
	iframe {
		visibility: hidden;
	}
}

.sticky {
	z-index: 9999 !important;
}

.off-canvas-wrapper {
	background: darken($blue,25%);

	@include breakpoint(medium) {
		//background: red;
	}

	nav.off-canvas {
		ul.menu {
			padding: 0;
			li {
				background: lightgray;
				border-bottom: solid 1px darkgray;

				&.mobile-nav-schedule {
					background: $alert;

					a {
						color: white;
					}
				}

				&.is-accordion-submenu-parent > a::after {
					border-color: #001b2e transparent transparent;
				}

				a {
					text-decoration: none;
					color: darken($blue,30%);
				}

				ul.menu.nested {
					margin-left: 0;
					padding-left: 15px;
				}
			}
		}
	}

}

/* Body bg */
.off-canvas-content {
	background: darken($blue, 15%);
	box-shadow: none !important;

	@include breakpoint(medium) {
		//background: white;
	}
}

body.home .off-canvas-content {

	background: darken($blue, 15%);

	@include breakpoint(medium) {

		//background: white;
	}

}

.fancybox-close {
	font-size: 3em;
	background-image: url("/wp-content/themes/summers-and-zims/img/icon-close.svg") !important;
	background-size: 28px 28px !important;
	width: 28px !important;
	height: 28px !important;
	top: 5px !important;
	right: 5px !important;
}

.fancybox-next span {
	background-image: url("/wp-content/themes/summers-and-zims/img/arrow-next.svg") !important;
	background-size: 28px 28px !important;
	width: 28px !important;
	height: 28px !important;
	background-position: top left !important;
}

.fancybox-prev span {
	background-image: url("/wp-content/themes/summers-and-zims/img/arrow-prev.svg") !important;
	background-size: 28px 28px !important;
	width: 28px !important;
	height: 28px !important;
	background-position: top left !important;
}

.fancybox-skin {
	-webkit-border-radius: 0px !important;
	   -moz-border-radius: 0px !important;
	        border-radius: 0px !important;
}

.flex-video {
	margin-bottom: 0;
}

// New Additional Globals for Update

h1,h2,h3,h4,h5,h6 {
	font-family: $font !important;
}

h1 {
	@include font-size(30px);
	@include line-height(30px);
	color: darken($blue,25%);
	font-weight: 600;

	@include breakpoint(medium) {
		@include font-size(36px);
		@include line-height(36px);
	}
}

h2 {
	@include font-size(22px);
	@include line-height(26px);
	color: darken($blue,15%);
	font-weight: 700;

	@include breakpoint(medium) {
		@include font-size(24px);
		@include line-height(29px);
	}
}

h3 {
	@include font-size(19px);
	@include line-height(23px);
	font-weight: 700;
	margin: 0 0 10px 0;
}

.heading-light-bg {
	background: lighten(desaturate($blue,50%), 55%);
	padding: 7px;
	color: darken($blue, 20%);
	font-weight: 700;
	margin: 0 0 10px;
}

.heading-dark-bg {
	background: darken(white, 80%);
	padding: 7px;
	color: white;
	font-weight: 700;
	margin: 0 0 10px;
}

.fine-print {
	font-size: 12px;
	line-height: 15px;
}

h4 {
	@include font-size(16px);
	@include line-height(20px);
	font-weight: 700;
	margin: 0;
}

a {
	color: $blue;
	@include transition(color, 0.2s, ease);
	text-decoration: none;

	&:hover {
		color: lighten($blue, 10%);
	}
}

p {
	@include line-height(21px);
}

.button {
	padding: 5px 12px;
	margin: 0 0 20px 0;
	display: inline-block;
	border: none;
    @include border-radius(3px);
	@include font-size(14px);
	@include line-height(30px);
	text-transform: uppercase;
	text-align: center;
	text-decoration: none !important;
	font-weight: 600;
	cursor: pointer;

	&.blue {
	    background: $blue !important;
		color: lighten($blue, 63%) !important;
    	text-shadow: 0px -1px 0px darken($blue, 33%);
		transition: background 0.2s ease;

		&:hover {
	    	background: lighten($blue, 10%) !important;
		    color: lighten($blue, 65%) !important;
		}
	}

	&.red {
	    background: $alert !important;
		color: lighten($alert, 63%) !important;
    	text-shadow: 0px -1px 0px darken($alert, 33%);
		transition: background 0.2s ease;

		&:hover {
	    	background: lighten($alert, 10%) !important;
		    color: lighten($alert, 65%) !important;
		}
	}

	&.green {
	    background: #226d2a !important;
		color: lighten(#226d2a, 83%) !important;
    	text-shadow: 0px -1px 0px darken(#226d2a, 20%);
		transition: background 0.2s ease;

		&:hover {
	    	background: lighten(desaturate(#226d2a,20%), 10%) !important;
		    color: lighten(#226d2a, 65%) !important;
		}
	}

	&.white {
	    background: white !important;
		color: lighten($blue, 0%) !important;
    	//text-shadow: 0px -1px 0px darken($blue, 0%);
		transition: background 0.2s ease;
		font-weight: 700;

		&:hover {
	    	background: darken(white, 20%) !important;
		    color: lighten($blue, 0%) !important;
		}
	}
}

section.container {

	@include breakpoint(medium) {
		padding-top: 0px;
		clear: both;
		//background: white;
		background: darken($blue, 15%);
	}

	// Testimonials
	blockquote {
		text-align: left;

		.testimonial {
			font-style: italic;
			font-weight: 700;
			display: block;
			margin-bottom: 5px;
			@include font-size(14px);
			@include line-height(18px);
		}

		div.author {
			text-align: right;

			p {
				@include font-size(13px);
				@include line-height(17px);
				color: lighten(grayscale($blue), 10%);

				a {
					@include font-size(13px);
					@include line-height(17px);
					color: lighten(grayscale($blue), 10%);
				}
			}
		}
	}

	// Testimonials (TinyMCE)

	.review {
		font-style: italic;
		display: block;
		margin-bottom: 5px;
		@include font-size(14px);
		@include line-height(18px);
	}

	.review-source {
		@include font-size(13px);
		@include line-height(17px);
		color: lighten(grayscale($blue), 10%);
	}

	h1,h2,h3,h4,h5,h6 {
		font-family: $font !important;
	}

	h1 {
		@include font-size(30px);
		@include line-height(30px);
		color: darken($blue,25%);
		font-weight: 600;

		@include breakpoint(medium) {
			@include font-size(36px);
			@include line-height(36px);
		}
	}

	h2 {
		@include font-size(22px);
		@include line-height(26px);
		color: darken($blue,15%);
		font-weight: 700;

		@include breakpoint(medium) {
			@include font-size(24px);
			@include line-height(29px);
		}
	}

	h3 {
		@include font-size(19px);
		@include line-height(23px);
		font-weight: 700;
		margin: 0 0 10px 0;
	}

	.heading-light-bg {
		background: lighten(desaturate($blue,50%), 55%);
		padding: 7px;
		color: darken($blue, 20%);
		font-weight: 700;
		margin: 0 0 10px;
	}

	.heading-dark-bg {
		background: darken(white, 80%);
		padding: 7px;
		color: white;
		font-weight: 700;
		margin: 0 0 10px;
	}

	.fine-print {
		font-size: 12px;
		line-height: 15px;
	}

	h4 {
		@include font-size(16px);
		@include line-height(20px);
		font-weight: 700;
		margin: 0;
	}

	a {
		color: $blue;
		@include transition(color, 0.2s, ease);
		text-decoration: none;

		&:hover {
			color: lighten($blue, 10%);
		}
	}

	p {
		@include line-height(21px);
	}

	.button {
		padding: 5px 12px;
		margin: 0 0 20px 0;
		display: inline-block;
		border: none;
	    @include border-radius(3px);
		@include font-size(14px);
		@include line-height(30px);
		text-transform: uppercase;
		text-align: center;
		text-decoration: none !important;
		font-weight: 600;
		cursor: pointer;

		&.blue {
		    background: $blue !important;
			color: lighten($blue, 63%) !important;
	    	text-shadow: 0px -1px 0px darken($blue, 33%);
			transition: background 0.2s ease;

			&:hover {
		    	background: lighten($blue, 10%) !important;
			    color: lighten($blue, 65%) !important;
			}
		}

		&.red {
		    background: $alert !important;
			color: lighten($alert, 63%) !important;
	    	text-shadow: 0px -1px 0px darken($alert, 33%);
			transition: background 0.2s ease;

			&:hover {
		    	background: lighten($alert, 10%) !important;
			    color: lighten($alert, 65%) !important;
			}
		}

		&.green {
		    background: #226d2a !important;
			color: lighten(#226d2a, 83%) !important;
	    	text-shadow: 0px -1px 0px darken(#226d2a, 20%);
			transition: background 0.2s ease;

			&:hover {
		    	background: lighten(desaturate(#226d2a,20%), 10%) !important;
			    color: lighten(#226d2a, 65%) !important;
			}
		}

		&.white {
		    background: white !important;
			color: lighten($blue, 0%) !important;
	    	//text-shadow: 0px -1px 0px darken($blue, 0%);
			transition: background 0.2s ease;
			font-weight: 700;

			&:hover {
		    	background: darken(white, 20%) !important;
			    color: lighten($blue, 0%) !important;
			}
		}
	}

	div[role="form"],
	div#wp_payeezy_payment_form form{

		span.wpcf7-form-control-wrap,
		div.wpcf7-form-control-wrap {
		    display: block;
		    margin-bottom: 20px;
		}

		label {
			font-weight: 700;
		}

		input[type="text"],
		input[type="email"],
		input[type="tel"],
		input[type="password"],
		textarea {
			background: darken(white, 5%);
			border: none;
			box-shadow: none;
			resize: none;
			margin: 0 !important;
		}

		// Pay Online Fields
		#x_first_name,
		#x_last_name,
		#x_address,
		#x_city,
		#x_state,
		#x_zip,
		#x_country,
		#x_invoice_num,
		#x_po_num,
		#x_email,
		#x_amount {
			background-color: darken(white, 5%);
			border: none;
			box-shadow: none;
			resize: none;
			margin: 0 !important;
		    display: block;
		    box-sizing: border-box;
		    width: 100%;
		    height: 3rem !important;
		    padding: 0.5rem;
		    position: relative;
		}

		input[type="submit"]#wp-submit,
		input[type="submit"] {
			padding: 5px 15px;
			margin: 0 0 20px 0;
			display: inline-block;
			border: none;
		    @include border-radius(3px);
			@include font-size(14px);
			@include line-height(30px);
			text-transform: uppercase;
			text-align: center;
			text-decoration: none !important;
			font-weight: 600;
			cursor: pointer;
		    background: $blue !important;
			color: lighten($blue, 63%) !important;
	    	text-shadow: 0px -1px 0px darken($blue, 33%);
			@include transition(background, 0.2s, ease);

			&:hover {
		    	background: lighten($blue, 10%) !important;
			    color: lighten($blue, 65%) !important;
			}
		}

		.article-header h2 {
			display: none;
		}


		span.wpcf7-not-valid-tip {
			color: $alert;
		}

		.wpcf7-response-output {
			display: inline-block;
			color: white;
			font-weight: 700;
			border: none;
			margin: 20px 0 20px 0;
			padding: 15px 20px;
			border-radius: 3px;

			&.wpcf7-validation-errors {
				background: lighten($alert, 20%);

			}

			&.wpcf7-mail-sent-ok {
				background: $money;
			}
		}

		span.error {
			color: $alert;
		}

		#loginform {
			margin: 20px 0 0 0;
		}

		div.app-know-someone {

			span.wpcf7-form-control-wrap {
				margin-bottom: 0;
			}

			span.wpcf7-list-item {
				margin-left: 20px;
				display: block;


			}
		}

		div.app-know-someone-if-yes {
			margin-left: 20px;

			input[type="text"] {
				width: 250px;
			}
		}

	}

	.form-warning {
		background: lighten($yellow, 15%);
		padding: 20px;

		p {
			font-weight: 700;
			margin: 0;
			color: darken($yellow, 50%);
		}
	}

	.form-pay-process {
		margin: 20px 0 20px;
		padding: 20px;
		background: hsla(202, 90%, 90%, 1);

		@include breakpoint(medium) {
			margin: 20px 0 20px;
		}

		img {
			display: block;
		}

		p {
			font-weight: 700;
			margin: 0;
		}
	}

	.form-pay-financing {
		background: #f0f0f0;
		padding: 10px;

		h3 {

		}

	}

}


@include placeholder {
	color: darken(white, 50%) !important;
	font-size: 13px !important;
	line-height: 1.5em;
}


div#page {
	background: white;
	margin-top: 0;
	position: relative;
	z-index: 2;

	@include breakpoint(large) {
		padding: 40px 0 40px 0;
	}

	#crumbs {
		display: block;
		margin: 0 0 20px;
		font-size: 13px;
	}
}


header#masthead {
	max-width: 75em;
	margin: 0 auto;
	position: relative;
	background-image: linear-gradient(hsla(255,255,255,0.9), white);
	border-bottom: solid 3px #f0f0f0;
	
	@include breakpoint(large) {
		height: 210px;
	}

	&.scroll {
		height: 50px !important;

	}

	p {margin: 0;}

	.header-items {

		//transition: all 0.5s ease;
		padding: 15px;

		&.scroll {
			padding: 0;
		}

		@include breakpoint(large) {

			//height: 120px;
			//transition: all 0.5s ease;
			display: flex;
			padding-right: 130px;
			padding-bottom: 24px;
		}

		@include breakpoint(large) {
			// height: 130px;
		}

		&.scroll {
			height: 0;
			overflow: hidden;
		}

		section.logo-years {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-right: 130px;

			@include breakpoint(medium) {
				// padding-right: 0;
				flex-direction: row;
				align-items: flex-start;
				justify-content: flex-start;
			}

			.header-logo {
				width: 200px;
				margin-bottom: 10px;
				@include breakpoint(medium) {
					width: 220px;
					margin-right: 30px;
				}
			}

			.header-years {
				margin-top: 6px;
				margin-bottom: 7px;

				@include breakpoint(medium) {
					margin-right: 00px;
				}
				.years {
					width: 80px;
					position: relative;
					//margin-top: 20px;

					@include breakpoint(medium) {

					}

					@include breakpoint(large) {
						width: 80px;
					}

					.years-num {
						position: absolute;
						top: 5px;
						left: 50%;
						transform: translateX(-50%);
						display: inline-block;
						color: $yellow; // f0ad6d
						font-size: 30px;
						font-weight: 800;
						-webkit-text-stroke-width: 1px;
						-webkit-text-stroke-color: darken($yellow, 40%);			

					}

					.years-biz {
						font-weight: 800;
						font-size: 13px;
						text-align: center;
						display: block;
						color: #003C66;
					}

					img {
						width: 100px;
					}
				}
			}

		}



		.header-mascot {
			position: absolute;
			z-index: 1;
			top: 22px;
			right: 30px;
			width: 114px;

			@include breakpoint(medium) {
				top: 73px;
			}

			@include breakpoint(large) {
				top: 14px;
				right: 15px;
			}

			&.scroll {
				display: none;
			}
		}









			.header-call {

				width: 100%;
				height: 100px;
				transform: skew(-20deg);
				padding: 10px 20px;
				background: rgba(0,105,170,.1);
				text-align: center;
				margin-top: 5px;

				@include breakpoint(medium) {
					width: 80%;
					padding: 20px 20px 10px 20px;
				}

				@include breakpoint(large) {
					max-width: 50%;
					height: 114px;
					padding: 10px 0px;
				}

				.time-message {
					transform: skew(20deg);

					@include breakpoint(large) {
						margin-top: 5px;
					}


					p {
						font-size: 12px;
						margin: 0 10px 0 0;

						@include breakpoint(large) {
							margin: 0 5px 0 0;
						}

						&:nth-child(1) {
							font-weight: 700;
							font-size: 14px;
						}

						.open {
							color: #003961;
						}

						.closed {
							color: $alert;
						}

						@include breakpoint(large) {
							font-size: 13px;
						}
					}
				}

				span.call-number {
					transform: skew(20deg);
					font-size: 20px;
					line-height: 20px;
					font-weight: 700;
					display: inline-block;

					a {
						color: $alert;
						text-decoration: none;
					}

					@include breakpoint(medium) {
						margin-top: 5px;
					}

					@include breakpoint(large) {
						margin-top: 10px;
						font-size: 26px;
					}
				}

				span.call-message {
					transform: skew(20deg);
					font-size: 20px;
					line-height: 20px;
					font-weight: 700;
					display: inline-block;

					&.scroll {
						display: none;
					}

					a {
						color: $alert;
						text-decoration: none;
					}

					@include breakpoint(medium) {
						margin-top: 5px;
					}

					@include breakpoint(large) {
						margin-top: 10px;
						font-size: 26px;
					}
				}
			}

	}

	.header-time {
		display: none;

		height: 80px;
		background: hsla(208, 52%, 95%, 1);

		&.scroll {
			transition: all 0.2s ease;
			height: 0;
			overflow: hidden;
		}

		@include breakpoint(medium) {
			height: 50px;
		}

		.time-message {
			padding: 15px;

			p {
				font-size: 12px;
				margin: 0;
				display: inline;

				&:nth-child(1) {
					font-weight: 700;
				}

				.open {
					color: $money;;
				}

				.closed {
					color: $alert;
				}

				@include breakpoint(large) {
					font-size: 13px;
				}
			}
		}
	}

	nav#site-navigation.top-bar {
		width: 100%;
		background: none;
		margin-bottom: 10px;

		&.scroll {
			margin-bottom: 0;
		}
		

		.nav-flex {
			display: flex;
			justify-content: flex-start;
			align-items: left;
			padding-left: 0;
		}

		.logo-small {

			img {
				height: 0px;
			}
		}	

		&.scroll {
			background: hsla(203, 20%, 84%, 0.8);

			.nav-flex {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-left: 15px;
			}

			.logo-small {
				opacity: 0;

				img {
					height: 30px;
				}
			}
		}



		.top-bar-left {
			background: none !important;

			@include breakpoint(medium) {
				position: relative;
			}

			@include breakpoint(large) {
				left: 0;
				z-index: 3;
			}
		}

		ul[role="menubar"] {
			background: none !important;
			margin: 0;
			padding: 0;


			@include breakpoint(medium) {

			}


			& > li.is-down-arrow {
				& > a {
					padding: 0 30px 0 20px !important;
				}
			}

			& > li {
				border-right: none;

				& > a {
					padding: 0 20px !important;
					color: #002743;
					height: 40px;
					@include font-size(13px);
					@include line-height(40px);
					font-weight: 700;
					text-decoration: none;

					@include breakpoint(medium) {
						@include font-size(14px);
						@include line-height(50px);
						height: 50px;

					}

					@include breakpoint(large) {
						@include font-size(16px);

					}


					&:hover {
						background: white;
						color: #002743;
					}

					&:after {
							border: inset 5px;
							border-color: darken($blue, 25%) transparent transparent;
							top: 1.25rem;
							right: 0.9375rem;
					}
				}

				& > ul.submenu {
					background: $blue;
					z-index: 3;
					margin: 0;
					padding: 0;
					min-width: 250px;



					& > li:not(:last-child) {
							border-right: none;
					}

					& > li.is-right-arrow {
						& > a {
							padding: 0 20px 0 20px !important;
							position: relative;
							font-weight: 600;

							&:after {
								position: absolute;
								top: 0;
								right: 15px;
								margin-top: 18px;
								
							}
						}

						& > ul.submenu {
							background: $blue;
							border-left: solid 1px white;
							top: 0px;
							margin: 0;
							padding: 0;
							min-width: 250px;
						}
					}

					& > li a {
						color: white;
						padding: 0 0 0 20px;
						font-weight: 600;
						text-decoration: none;

						&:hover {
							background: lighten(desaturate($blue,20%),10%) !important;
							color: white;
						}
					}
				}
			}

			& > li.nav-schedule a {
					color: $alert;

			}

			& > li.active {

				& > a {
					background: lighten(desaturate($blue,80%), 20%);
					color: white;

					&:after {
							border-color: black transparent transparent !important;
					}
				}

				& > ul > li.active > a {
					background: lighten(desaturate($blue,80%), 20%);
					color: white;
				}

			}
		}
	}

	.title-bar {
		position: absolute;
		top: 0;
		right: 0;
		background: none;
		padding: 10px;
		display: flex;
		justify-content: space-between;

		@include breakpoint(medium) {
			position: static;
			display: none;
		}

		.title-bar-brand {
			width: 80%;
			height: 40px;
			display: flex;
			justify-content: flex-start;

			.logo-small {
				display: none;
				height: 40px;
			}

			& > span.title-bar-call {
				opacity: 0;
				font-size: 20px;
				line-height: 20px;
				font-weight: 700;
				margin-left: 20px;
				align-self: center;

				a {
					color: $alert;
					text-decoration: none;
				}

				@include breakpoint(large) {
					margin-top: 15px;
					font-size: 26px;
				}
			}
		}

		.title-bar-menu {
			width: 20%;


			.title-bar-title {
				text-indent: -9999em;
			}

			.menu-icon {
				margin-right: 0;
			}

			.menu-icon::after {
					content: '';
					position: absolute;
					display: block;
					width: 100%;
					height: 2px;
					background: darken($blue, 30%);
					top: 0;
					left: 0;
					box-shadow: 0 7px 0 darken($blue, 30%), 0 14px 0 darken($blue, 30%);
			}
		}

		&.scroll {
			background: hsla(203, 20%, 84%, 0.8);
			height: 60px;
			width: 100%;

			.logo-small {
				display: block;

				img {
						height: 40px;
				}

			}

			& > span.call-number {
				font-size: 20px;
				line-height: 20px;
				font-weight: 700;

				a {
					color: $alert;
					text-decoration: none;
				}

				@include breakpoint(large) {
					margin-top: 15px;
					font-size: 26px;
				}
			}
		}
	}
}
// Show nav links as current for following pages:

.page-id-523 .menu-item-35 > a,
.page-id-523 .menu-item-35 ul .menu-item-38 a,
.page-id-525 .menu-item-35 > a,
.page-id-525 .menu-item-35 ul .menu-item-38 a,
.page-id-1511 .menu-item-35 > a,
.page-id-1511 .menu-item-35 ul .menu-item-38 a,
.page-id-1832 .menu-item-28 > a,
.page-id-1832 .menu-item-28 ul .menu-item-1834 a,
.single-staff .menu-item-28 > a,
.single-staff .menu-item-28 ul .menu-item-1834 > a,
.single-staff .menu-item-28 > a,
// .menu-item-1828 for staging server
.single-staff .menu-item-28 ul .menu-item-1838 > a,
.single-post .menu-item-28 > a,
.single-post .menu-item-28 ul .menu-item-29 a,
.single-product .menu-item-1623 > a,
.woocommerce-cart .menu-item-1623 > a,
.woocommerce-checkout .menu-item-1623 > a {
	background: lighten(desaturate($blue,80%), 20%) !important;
	color: white !important;

	&:after {
	    border-color: white transparent transparent !important;
	}
}

.single-product .menu-item-28 > a,
.single-product .menu-item-28 ul .menu-item-29 > a {
	background: transparent !important;
	color: black !important;

	&:hover {
		background: lighten($alert, 20%) !important;
		color: white !important;
	}
}

// #3 Home

div#page.home {
	padding-top: 30px;

	// Box Rows
	& > .boxes {
		margin: 0 0 20px;

		@include breakpoint(medium) {
			margin: 0 0 50px;;
		}

		.home-box {
			background: darken(white, 6);

			padding: 0 0 20px;
			text-align: center;
			margin: 0 0 30px;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;

			@include breakpoint(medium) {
				margin: 0;
			}

			h3 {
				padding: 0;
				margin: 0 !important;
				padding: 8px 10px 10px;
				text-align: center;
				background: darken(white, 80%);
				color: white;
				border-top-right-radius: 3px;
				border-top-left-radius: 3px;

				@include breakpoint(medium) {
					@include font-size(19px);
					@include line-height(27px);
				}
			}


			.home-box-image {
				// In case we want to add styles to images only
			}

			.home-box-review {
				width: 100%;
				background-size: 30% auto;
				margin: 0 0 10px;

				@include breakpoint(medium) {
					background-size: 40% auto;
				}

				@include breakpoint(large) {
					background-size: 40% auto;
				}

				.home-box-trans {
					width: 100%;
					height: 100%;
					background: white;
					padding: 60px 15px 60px;
				}

				p:first-child {
					@include font-size(16px);
					@include line-height(25px);
					font-weight: 600;
					font-style: italic;
					padding: 0 10px;
					margin: 0 0 10px;
					text-align: center;
					color: white;
				}

				p:nth-of-type(2) {
					@include font-size(14px);
					@include line-height(18px);
					color: darken(white,20%);
				}
			}

			.home-box-bottom {
				padding: 10px;
			}


		}
	}

	// General Content
	.gc-content {
		margin: 30px 0 30px;

		.gc-content-full {

			h3 {
				background: none !important;
				text-align: left;
				padding: 0;
				margin: 0 0 7px 0;
				font-size: 22px;
				line-height: 28px;
				color: black;
				font-weight: 800;

				@include breakpoint(medium) {
					width: 80%;
					font-size: 24px;
					line-height: 30px;
				}

			}

			.trans {
				background: hsla(205, 0%, 90%, 0.7);
				height: 100%;
			}

			.content {
				padding: 40px 15px;
				text-align: center;

				p {
					text-align: left;
					font-size: 18px;
					line-height: 26px;
				}

				a {
					color: $blue;
					text-decoration: underline;
				}

				.button {
					margin-top: 30px;
				}

			}
		}

		.gc-content-left {

			color: white;

			h2 {
				background: $blue;
				color: white;
				font-weight: 800;
				padding: 15px;

			}

			.trans {
				background: hsla(205, 100%, 10%, 0.8);
				height: 100%;
			}

			.content {
				padding: 0 15px;
				text-align: center;

				p {
					text-align: left;
				}

				a {
					color: white;
					text-decoration: underline;
				}

				.button {
					margin-top: 30px;
				}

			}

		}

		.gc-content-right {

			color: white;

			h2 {
				background: $yellow;
				color: white;
				font-weight: 800;
				padding: 15px;

			}

			.trans {
				background: hsla(40, 68%, 21%, 0.8);
				height: 100%;
			}

			.content {
				padding: 0 15px;
				text-align: center;

				p {
					text-align: left;

				}

				a {
					color: white;
					text-decoration: underline;
				}

				.button {
					margin-top: 30px;
				}

			}

		}

	}



	//Staff Section
	.staff {
		margin: 70px 0 30px;
		text-align: center;
		background: #f0f0f0;
		padding: 30px 0;
		position: relative;

		#staff-truck {
			position: absolute;
			top: -50px;
			right: 0;
			width: 200px;
		}

		h3 {
			color: #226d2a;
			margin: 0;
			padding: 0 15px 15px 15px;			
			font-size: 24px;
			line-height: 24px;
			font-weight: 800;

			@include breakpoint(medium) {
				font-size: 24px;
				line-height: 24px;
			}
		}

		.staff-members {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: flex-start;
			align-content: flex-start;
			padding: 0 65px;
			margin-bottom: 20px;
			display: none;

			&.slick-initialized {
				display: block;
			}

			.staff-member {
				order: 0; // default
				position: relative;
				align-self: flex-start;
				width: calc(100% * (1/2) - 4px);
				margin: 0 2px 4px 0;

				@include breakpoint(medium) {
					width: calc(100% * (1/4) - 4px);
				}

				@include breakpoint(large) {
					width: calc(100% * (1/8) - 4px);
				}

				a {
					
					color: hsla(40, 91%, 57%, 0);
					display: block;
					text-align: center;
					padding: 3px 0;
					font-weight: 600;
					font-size: 16px;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					//background: hsla(205, 0%, 10%, 0.9);
					color: hsla(40, 91%, 57%, 1);

					span.job-title {
						color: $blue;


						@include breakpoint(medium) {
							color: hsla(205, 100%, 34%, 0);


						}
					}


					@include breakpoint(medium) {
						background: transparent;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						align-items: center;
						font-size: 16px;
						padding: 20px;
						//transition: all 0.2s ease;
						color: hsla(40, 91%, 57%, 0);

						&:hover {
							background: transparentize(darken($blue, 25%), 0.2); 
							color: hsla(40, 91%, 57%, 1);

							span.job-title {
								color: white;
								font-size: 10px;	
								
							}
						}


					}




				}
			}

			& > button {
				display: block;

				&.slick-prev {
					position: absolute;
					top: 50%;
					left: 15px;
					transform: translateY(-50%);
					z-index: 9999;
					width: 40px;
					height: 40px;
					background: url("/wp-content/themes/summers-and-zims/img/material-back.svg") hsla(200,50%,90%,.8) 15px center no-repeat;
					background-size: 20px;
					border-radius: 20px;
					text-indent: -9999em;
				}

				&.slick-next {
					position: absolute;
					top: 50%;
					right: 15px;
					transform: translateY(-50%);
					z-index: 9999;
					width: 40px;
					height: 40px;
					background: url("/wp-content/themes/summers-and-zims/img/material-forward.svg") hsla(200,50%,90%,.8) 10px center no-repeat;
					background-size: 20px;
					border-radius: 20px;
					text-indent: -9999em;
				}

			}
		}


	
	}

	// Slides & Posts

	.slides-difference {
		margin: 0 0 60px;
		position: relative;
		padding: 10px 0 0 0;
		background: radial-gradient(lighten($yellow,10%), darken($yellow,5%));

		h3 {
			z-index: 9999;
			width: 100%;
			color: white;
			margin: 0;
			padding: 10px 15px 15px 15px;			
			font-size: 24px;
			line-height: 24px;
			font-weight: 900;
			text-shadow: 0 1px 0 darken($yellow, 40%);

			@include breakpoint(medium) {
				font-size: 24px;
				line-height: 24px;
			}
		}

		&>.slides {

			@include breakpoint(tablet) {
				margin-bottom: 0;
			}

			.slick-slider {
				z-index: 1;
				position: relative;
				margin: 0;
				padding: 0;

				li.slick-slide {

					@include breakpoint(large) {
						display: flex;
					}

					div.slide-media {
						//width: 100%;
						width: 100%;

						@include breakpoint(medium) {
							//width: 30%;
						}


						@include breakpoint(large) {
							width: 50%;
						}


						.flex-video {
							margin-bottom: 0;
						}
					}

					div.slide-content {
						padding: 20px 80px;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;

						@include breakpoint(medium) {
							padding: 0 80px 0 40px;
						}


						@include breakpoint(large) {
							width: 50%;
						}


						h4 {
							font-size: 20px;
							line-height: 26px;
							margin-bottom: 3px;
							font-weight: 700;
							color: darken($yellow,40%);
							font-weight: 900;

							@include breakpoint(large) {
								font-size: 20px;
								line-height: 26px;
								margin-bottom: 5px;
							}

							@include breakpoint(large) {

							}
						}

						p {
							font-size: 16px;
							line-height: 22px;
							margin: 0 0 1rem;
							color: darken($yellow,40%);

							&:last-child {
								margin-bottom: 0;
							}

							@include breakpoint(large) {
								font-size: 18px;
								line-height: 24px;
							}
						}


					}
				}

				& > button {
					display: block;

					&.slick-prev {
						position: absolute;
						top: 50%;
						left: 15px;
						transform: translateY(-50%);
						z-index: 9999;
						width: 40px;
						height: 40px;
						background: url("/wp-content/themes/summers-and-zims/img/material-back.svg") hsla(0, 0%,90%,.8) 15px center no-repeat;
						background-size: 20px;
						border-radius: 20px;
						text-indent: -9999em;
					}

					&.slick-next {
						position: absolute;
						top: 50%;
						right: 15px;
						transform: translateY(-50%);
						z-index: 9999;
						width: 40px;
						height: 40px;
						background: url("/wp-content/themes/summers-and-zims/img/material-forward.svg") hsla(0,0%,90%,.8) 10px center no-repeat;
						background-size: 20px;
						border-radius: 20px;
						text-indent: -9999em;
					}

				}

				& > ul.slick-dots {
					margin: 30px auto;
					//padding: 0;
					padding-bottom: 0px;
					display: flex;
					align-items: center;
					justify-content: center;

					& > li {
						margin: 0 5px;
						text-align: center;
						display: inline-block;
						//text-indent: -9999em;


						& > button {
							display: block;
							text-indent: -9999em;
							width: 10px;
							height: 10px;
							@include border-radius(30px);
							border: none;
							background: white;
							color: white;
							font-weight: 700;
							margin: 0 !important;
							padding: 0 !important;

							&:focus {
								outline: none;
							}
						}

						&.slick-active {
							& > button {
								background: darken($yellow,30%);

								&:focus {
									outline: none;
								}
							}
						}
					}
				}

				& > .slick-list {
					padding: 0 0 0;
					list-style: none;
					margin: 0;

					.slick-slide {
						background-size: 80px auto;
						min-height: 140px;

						p {
							color: lighten(black, 30%);
						}

						.slides-image {
							position: relative;

							.slides-overlay {
								position: absolute;
								bottom: 0;
								left: 0;
								width: 100%;
								background: hsla(0,0,0,0.7);
								padding: 15px;

								.slides-content {
									display: none;
									padding-top: 10px;
								}

								.slides-title img {
									position: absolute;
									top: 7px;
									right: 5px;
									width: 32px;
									height: 32px;
									cursor: pointer;

									&.rotate {
										-webkit-transform: rotate(180deg);
									    -moz-transform: rotate(180deg);
									}
								}

								h4 {
									color: hsla(0,50%,100%,1);
									margin-bottom: 0 !important;
								}

								p {
									color: hsla(0,10%,100%,1);

									&:last-child {
										margin-bottom: 0;
									}
								}
							}
						}
					}
				}
			}
		}

		&>.posts {
			article {
				margin: 15px 0 0 0;
				padding: 15px 0 0 0;
				border-top: solid 1px $border;

				&:nth-of-type(1) {
					margin: 0;
					padding: 0;
					border-top: none;
				}

				&:nth-of-type(5) {
					margin-bottom: 30px;
				}

				h4 {
					margin-bottom: 3px;
				}

				footer {

					@include font-size(14px);
					@include line-height(17px);
					color: lighten(grayscale($blue), 10%);

					ul,li {
						margin: 0;
						display: inline-block;
					}

				}
			}

		}
	}

	.two-sections {
		margin-bottom: 50px;

		h3 {
			background: lighten(desaturate($blue,50%), 55%);
			padding: 7px;
			color: darken($blue, 20%);
		}

		// slides
		.section-slides {
			z-index: 1;
			position: relative;
			margin: 0 0 30px 0;
			padding: 0;

			@include breakpoint(medium) {
				margin: 0;
			}

			li.slick-slide {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 425px;
				padding: 20px 80px;
				background: $blue;

				@include breakpoint(medium) {
					padding: 0 80px;
					height: 336px;
					min-height: 336px;
				}

				color: white;

				.slide-content {
					h4 {

						font-size: 18px;
						line-height: 24px;

						@include breakpoint(medium) {
							font-size: 20px;
							line-height: 26px;
						}
						
						margin-bottom: 5px;
					}

					p {
						margin: 0 0 15px 0 !important;
					}
				}
			}

			& > button {
				display: block;

				&.slick-prev {
					position: absolute;
					top: 50%;
					left: 15px;
					transform: translateY(-50%);
					z-index: 9999;
					width: 40px;
					height: 40px;
					background: url("/wp-content/themes/summers-and-zims/img/material-back.svg") hsla(200,50%,90%,.8) 15px center no-repeat;
					background-size: 20px;
					border-radius: 20px;
					text-indent: -9999em;
				}

				&.slick-next {
					position: absolute;
					top: 50%;
					right: 15px;
					transform: translateY(-50%);
					z-index: 9999;
					width: 40px;
					height: 40px;
					background: url("/wp-content/themes/summers-and-zims/img/material-forward.svg") hsla(200,50%,90%,.8) 10px center no-repeat;
					background-size: 20px;
					border-radius: 20px;
					text-indent: -9999em;
				}

			}
		}

		// Posts
		article.post {
			margin: 15px 0 0 0;
			padding: 15px 0 0 0;
			border-top: solid 1px $border;

			&:nth-of-type(1) {
				margin: 0;
				padding: 0;
				border-top: none;
			}

			&:nth-of-type(5) {
				margin-bottom: 30px;
			}

			h4 {
				margin-bottom: 3px;
			}

			footer {

				@include font-size(14px);
				@include line-height(17px);
				color: lighten(grayscale($blue), 10%);

				ul,li {
					margin: 0;
					display: inline-block;
				}

			}
		}

	}

	// Brands
	.brands {
		border-top: solid 1px $border;
		padding-top: 30px;
		margin: 0 0 30px;

		p {
			margin: 0 0 15px 0;
		}

		p img.alignleft {
			float: left;
			display: inline-block;
			margin-right: 30px;
			margin-bottom: 15px;
		}

		ul {
			list-style: none !important;
		}

		ul.brands-list {
			margin: 0;
			list-style: none;

			li {
				float: left;
				max-width: 40%;
				margin-right: 10px;

				@include breakpoint(medium) {
					max-width: 20%;
				}

				@include breakpoint(large) {
					max-width: 10%;
				}
			}
		}
	}
}

// #4 Service Pages
div#page.service,
div#page.general {

	// Service page boxes
	.service-box {
		background: darken(white, 6);

		padding: 30px 0 20px;
		text-align: center;
		margin: 0 0 30px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;

		@include breakpoint(medium) {
			margin: 0 0 50px;
		}

		h3 {
			padding: 0;
			margin: 0 !important;
			line-height: 40px !important;
			height: 40px;
			text-align: center;
			background: darken(white, 80%);
			color: white;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;

			@include breakpoint(medium) {
				@include font-size(15px);
			}

			@include breakpoint(medium) {
				@include font-size(19px);
			}
		}

		img {
			margin: 0 0 10px;
		}

		p {
			@include font-size(14px);
			@include line-height(18px);
			padding: 0 10px;
			margin: 0 0 10px;
			min-height: 40px;
			text-align: center;
		}

		a {
			margin: 0 auto;

		}
	}

	.service-main {
		p {
			@include font-size(16px);
		}

		.service-images {
			margin-bottom: 20px;

			@include breakpoint(medium) {
				margin-bottom: 20px;
			}

			img {
				&:first-child {
					margin-bottom: 20px;

					@include breakpoint(medium) {
						margin-bottom: 0;
					}
				}
			}
		}

		ul.link-blocks {
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			position: relative;

			li {
				list-style: none;
				margin: 0 15px 15px 0;
				flex-shrink: 0;
				width: 200px;
				height: 200px;
				background: white;
				text-align: center;
				display: flex;
				background: transparent;
				font-weight: bold;
				perspective: 450px;
				position: relative;
				transform-style: preserve-3d;
				
				&.block-text {
					align-items: center;
					justify-content: center;
					background: lightgray;
					padding: 10px;

				}

				&:hover .front {
					transform: rotateY(180deg);
				}

				&:hover .back {
					transform: rotateY(0deg);
				}

				.flipper {
					transition: 0.3s;
					transform-style: preserve-3d;
					position: relative;
					width: 200px;
				}

				.front, .back {
					backface-visibility: hidden;
					position: absolute;
					top: 0;
					left: 0;
					width: 200px;
					height: 200px;
					transition: 0.3s;
					transform-style: preserve-3d;
				}

				.front {
					z-index: 2;
					transform: rotateY(0deg);

					& > a {
						background: $blue;
						align-items: center;
						justify-content: center;
					}
				}

				/* back, initially hidden pane */
				.back {
					transform: rotateY(180deg);
					background: lighten(desaturate($blue,50%), 55%);
					

					& > a {
						
						justify-content: center;
						color: black;
						align-items: center;

						& > span {
							background: url("/wp-content/themes/summers-and-zims/img/material-arrow-forward.svg") center center no-repeat;
							background-size: 50px;
							margin-top: 30px;
							height: 75px;

						}
					}

				}


				a {
					color: white;
					width: 200px;
					height: 200px;
					display: flex;
					

					padding: 10px;
					font-weight: bold;

					span {

						align-items: center;
					}
				}
			}
		}

		.service-accordion {
			ul.acc {
				margin: 0 0 20px 0;
				padding: 0;
				list-style: none;

				li.panel {
					margin-bottom: 10px;
					&:last-child {
						margin-bottom: 0;
					}

					h4 {
						padding: 8px 10px 8px 22px;
						cursor: pointer;
						background: lighten(desaturate($blue, 50%), 50%);
						position: relative;

						&:before {
							position: absolute;
							top: 3px;
							left: -4px;
							content: "";
							width: 30px;
							height: 30px;
							background: url("/wp-content/themes/summers-and-zims/img/material-arrow-drop.svg") left top no-repeat;
							background-size: 30px;
							transform: rotate(-90deg);
							transition: all 0.2s ease;
							transform-origin: center center;
						}

						&.active {
							background: lighten(desaturate($blue, 50%), 30%);
							color: white;
							&:before {
								transform: rotate(0deg);
							}
						}

					}

					& > .panel-content {
						display: none;

						&.show {
							display: block;
							padding: 8px;
						}
					}

				}
			}
		}			

		// Home Performance Pages

		.service-sections {
			margin-bottom: 20px;

			@include breakpoint(medium) {
				margin-bottom: 30px;
			}

			.service-section {

				&:first-child {
					margin-bottom: 15px;

					@include breakpoint(medium) {
						margin-bottom: 0;
					}
				}
				padding: 20px;
				background: darken(white,6);

				img {
					margin-bottom: 10px;
				}
			}
		}

		.service-videos-row {
			border-top: solid 1px $border;
			padding-top: 20px;

			.service-videos {
				margin-bottom: 15px;

				h3 {
					margin-bottom: 0;
				}

				p {
					margin-bottom: 5px;
				}
			}
		}
	}

	.link-group {
		background: lighten($yellow, 30%);
		padding: 20px;
		margin-bottom: 30px;

		span.jump {
			font-weight: bold;
			font-size: 13px;
			display: block;
			margin-bottom: 10px;
			padding-bottom: 5px;
			text-transform: uppercase;
			border-bottom: solid 1px darken($yellow, 20%);
			color: darken($yellow, 20%);
		}

		ol,ul {
			margin: 0 0 0 20px;
			padding: 0;

			li {
				font-weight: bold;
				font-size: 14px;
				a {
					font-weight: bold;
				}
			}
		}
	}

	.content-group {

		ul,ol {
			padding-left: 25px;
			margin-bottom: 15px;

			@include breakpoint(medium) {
				padding-left: 40px;
			}

			li {

				& > ul {
					list-style: disc;
				}
			}

		}
		.content-group-each {
			font-weight: bold;
			padding: 15px 0;

			h3 {

			}
			p {
				margin-top: 0;
				padding-top: 0;
			}

			picture {
				display: block;
				margin-bottom: 15px;
			}
		}
	}

	.service-sidebar,
	.page-sidebar,
	.sidebar {
		background: darken(white, 6);
		padding: 20px;
		text-align: center;

		.box {

			&:not(:first-child) {
				border-top: solid 1px $border;
				padding-top: 20px;
			}

			&.image {
				padding-bottom: 20px;

				img {
					margin-bottom: 20px;
				}
			}

			h3,p,h4,footer {
				text-align: left;
			}

			a.button {
				margin: inherit auto;
			}

			article {
				margin-bottom: 20px;

				h4 {
					margin-bottom: 3px;
				}

				footer {
					@include font-size(14px);
					@include line-height(17px);

					ul,li {
						margin: 0;
						display: inline-block;
					}
				}
			}

			.service-posts {
				footer ul,
				footer li {
					display: inline-block;
					margin: 0;
					padding: 0;
				}
			}

			form {

				span.wpcf7-form-control-wrap,
				div.wpcf7-form-control-wrap {
				    display: block;
				    margin-bottom: 20px;
				}

				label {
					font-weight: 700;
					text-align: left;
				}

				input[type="text"],
				input[type="email"],
				input[type="tel"],
				input[type="password"],
				textarea {
					background: white !important;
					border: none;
					box-shadow: none;
					resize: none;
					margin: 0 !important;
					font-weight: 400 !important
				}

				input[type="submit"]#wp-submit,
				input[type="submit"] {
					padding: 5px 15px;
					margin: 0 0 20px 0;
					display: inline-block;
					border: none;
				    @include border-radius(3px);
					@include font-size(14px);
					@include line-height(30px);
					text-transform: uppercase;
					text-align: center;
					text-decoration: none !important;
					font-weight: 400 !important;
					cursor: pointer;
				    background: $blue !important;
					color: lighten($blue, 63%) !important;
			    	text-shadow: 0px -1px 0px darken($blue, 33%);
					@include transition(background, 0.2s, ease);

					&:hover {
				    	background: lighten($blue, 10%) !important;
					    color: lighten($blue, 65%) !important;
					}
				}

				.article-header h2 {
					display: none;
				}


				span.wpcf7-not-valid-tip {
					color: $alert;
				}

				.wpcf7-response-output {
					display: inline-block;
					color: white;
					font-weight: 700;
					border: none;
					margin: 20px 0 0 0;
					padding: 15px 20px;
					border-radius: 3px;

					&.wpcf7-validation-errors {
						background: lighten($alert, 20%);

					}

					&.wpcf7-mail-sent-ok {
						background: $money;
					}
				}

				span.error {
					color: $alert;
				}

				#loginform {
					margin: 20px 0 0 0;
				}

			}
		}
	}


}

// #6 Home Performance Products
div#page.home-performance-products {
	padding-top: 30px;

	& > .product-logo {
		margin: 0 0 20px;

		@include breakpoint(medium) {
			margin: 0 0 50px;;
		}

		img {
			max-width: 300px;
			margin: 0 0 15px;
		}
	}

	& > .product-boxes {
		margin: 0 0 20px;

		@include breakpoint(medium) {
			margin: 0 0 50px;;
		}
		.box {
			background: darken(white, 6);

			padding: 20px;

			@include breakpoint(medium) {
				margin: 0;
			}
		}
	}

	& > .product-embed {
		margin: 0 0 20px;
		padding: 20px 0;

		@include breakpoint(medium) {
			margin: 0 0 50px;
			padding: 30px 0;
		}

		h2 {
			text-align: center;
		}

		p {
			text-align: center;
		}
	}

	& > .product-process {
		margin: 0 0 20px;

		@include breakpoint(medium) {
			margin: 0 0 50px;
		}
	}

	& > .process-steps {
		margin: 0 0 20px;

		@include breakpoint(medium) {
			margin: 0 0 50px;;
		}
		.box {
			background: darken(white, 6);

			padding: 20px;

			@include breakpoint(medium) {
				margin: 0;
			}

			img {
				margin: 0 0 5px;
			}

			p {
				@include font-size(14px);
				@include line-height(18px);
			}
		}
	}

	& > .product-inquiry {
		background: darken(white, 6);
		text-align: center;
		padding: 30px 0;

		p {
			margin: 0 0 20px;
			@include font-size(22px);
			@include line-height(26px);
			font-weight: 600;

			@include breakpoint(medium) {
				@include font-size(24px);
				@include line-height(30px);
				font-weight: 600;
				max-width: 90%;
				margin: 0 auto 20px;
			}
		}

		a {
			margin: 0 auto;
			display: inline-block;
		}
	}
}

// #7 About Us

div#page.about {
	padding-top: 30px;

	// Boxes
	& > .boxes {
		margin: 0 0 20px;

		@include breakpoint(medium) {
			margin: 0 0 50px;;
		}

		.about-box {
			background: darken(white, 6);

			padding: 0 0 20px;
			text-align: center;
			margin: 0 0 30px;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;

			@include breakpoint(medium) {
				margin: 0;
			}


			h3 {
				padding: 0;
				margin: 0 !important;
				line-height: 40px !important;
				height: 40px;
				text-align: center;
				background: darken(white, 80%);
				color: white;
				border-top-right-radius: 3px;
				border-top-left-radius: 3px;

				@include breakpoint(medium) {
					@include font-size(15px);
				}

				@include breakpoint(medium) {
					@include font-size(19px);
				}
			}

			img {
				margin: 0 0 10px;
			}

			.box-bottom{
				p {
					padding: 0 15px;
				}
			}

		}
	}

	& > .boxes.affiliations {

		.box-content {
			text-align: left;
			padding: 15px;
		}
	}

	// Audio Section
	.audio {
		margin: 0 0 50px;

		h3 {
			background: lighten(desaturate($blue,50%), 55%);
			padding: 7px;
			color: darken($blue, 20%);
		}
	}

	// Staff Section
	.staff {
		margin: 0 0 50px;

		h3 {
			background: lighten(desaturate($blue,50%), 55%);
			padding: 7px;
			color: darken($blue, 20%);
		}

		.slides-staff {
			margin: 0;
			padding: 0 30px;

			div.slide {
				padding: 0px 10px;

				&> a:last-child {
					display: block;
					text-align: center;
					@include font-size(13px);
					@include line-height(17px);
				}
			}

			.slick-prev {
				position: absolute;
				left: 0;
				top: calc(50% - 24px);
				width: 24px;
				height: 24px;
				background: url("/wp-content/themes/summers-and-zims/img/arrow-prev.svg") left top no-repeat;
				text-indent: -9999em;
			}

			.slick-next {
				position: absolute;
				right: 0;
				top: calc(50% - 24px);
				width: 24px;
				height: 24px;
				background: url("/wp-content/themes/summers-and-zims/img/arrow-next.svg") left top no-repeat;
				text-indent: -9999em;
			}
		}
	}

}

// #8 Staff Detail (pop-up)

#page.staff-detail,
.staff-fancy {

	&> .row {

		button.close-button {
			font-size: 3em;
		}

		& > div:last-child {

			h4 {
				margin: 0 !important;
			}
		}
	}

	.staff-review {

		border-bottom: solid 1px $border;
		margin-bottom: 15px;

		& > p:first-child {
			margin-bottom: 5px;

			span {
				display: block;
				@include font-size(15px);
				@include line-height(21px);
				font-weight: 700;
				margin: 0;

			}
		}

	}

	.view-all-staff {
		margin-top: 50px;
		text-align: center;
	}
}

// #9 Contact Joe

#page.contact-joe {
	padding-bottom: 50px;

	.row > div.columns:first-child {

		img {
			margin-bottom: 5px;
		}
	}
}

// #10 Blog Landing

#page.blog {

	h2 {
		margin-bottom: 5px;
	}

	time {
		@include font-size(14px);
		color: lighten(grayscale($blue), 10%);
		margin: 0 0 10px;
		display: block;
	}

	.blogpost-entry {
		border-bottom: solid 1px $border;
		margin: 0 0 20px;
	}

	.pagination {
		.current {
		    background: lighten(desaturate($blue,80%), 50%);
		}

		a:hover {
			background: lighten(desaturate($blue,80%), 60%)
		}
	}

	.post-image {
		margin: 20px 0;
	}

}

// #11 Service Memberships

div#page.service-memberships {

	.service-membership-intro {
		
		@include breakpoint(large) {
			display: flex;
		}

		.intro-copy,
		.intro-video {
			width: 100%;

			@include breakpoint(large) {
				width: 50%;
			}
		}

		.intro-copy {
			background: #f0f0f0;
			padding: 15px;
		}
	}

	.membership-table {
		margin-top: 30px;

		table tbody td p img {
			width: 24px;
		}

		@include breakpoint(large) {

			table thead {
				padding: 15px 0;
			}
			table thead th {
				vertical-align: middle;
				height: 100px;
				min-width: 300px;
				text-align: center;
			}

			table thead th[scope="colgroup"] {
				background: red;
				height: 30px;
				text-align: left;

				&:nth-of-type(1) {
					background: lighten(desaturate($blue,50%), 50%);
				}

				&:nth-of-type(2) {
					background: lighten(desaturate($blue,40%), 40%);
				}
			}

			table thead th:nth-of-type(1) img {

				width: 140px;
			}

			table thead th:nth-of-type(2) img {
				width: 140px;
			}

			table thead th:nth-of-type(3) img {
				width: 140px;
			}

			table thead th:nth-of-type(4) img {
				width: 140px;
			}

			table tbody td p {
				margin-bottom: 0 !important;
			}

			table tbody td p img {
				width: 24px;
			}

			table tbody td:nth-of-type(1) {
				font-weight: 600;
			}

			table tbody td:nth-of-type(2),
			table tbody td:nth-of-type(3),
			table tbody td:nth-of-type(4),
			table tbody td:nth-of-type(5),
			table tbody td:nth-of-type(6) {
				text-align: center;
			}

		}

		table tbody tr:nth-of-type(1) td {
			background: none;
		}

		table tbody td:nth-of-type(1) {

			background: lighten(desaturate($blue,50%), 55%);
			padding: 7px;
			color: darken($blue, 20%);
			font-weight: 700;

			@include breakpoint(large) {
				background: none;
				color: inherit;
			}
		}

		table tbody td:nth-of-type(2):before {
			content: "Blue Plan: ";
			font-weight: 700;

			@include breakpoint(large) {
				content: "";
			}
		}

		table tbody td:nth-of-type(3):before {
			content: "Blue Plan with Watchdog and Sensi Smart Maintenance: ";
			font-weight: 700;

			@include breakpoint(large) {
				content: "";
			}
		}

		table tbody td:nth-of-type(4):before {
			content: "Blue Plan: ";
			font-weight: 700;

			@include breakpoint(large) {
				content: "";
			}
		}

		table tbody td:nth-of-type(5):before {
			content: "Blue Plan and Watchdog Membership with Sensi Smart Maintenance: ";
			font-weight: 700;

			@include breakpoint(large) {
				content: "";
			}
		}
	}

	.membership-table:nth-of-type(4) {
		

		table tbody tr:nth-of-type(1) td:nth-of-type(1),
		table tbody tr:nth-of-type(14) td:nth-of-type(1) {
			color: lighten(desaturate($blue,50%), 55%);
			background: darken($blue, 20%) !important;
		}

		table tbody tr:nth-of-type(1),
		table tbody tr:nth-of-type(14) {
			@include breakpoint(large) {
				background: darken($blue, 20%) !important;
			}
		}

		table tbody tr:nth-of-type(1) td:nth-of-type(2),
		table tbody tr:nth-of-type(14) td:nth-of-type(2),
		table tbody tr:nth-of-type(1) td:nth-of-type(3),
		table tbody tr:nth-of-type(14) td:nth-of-type(3),
		table tbody tr:nth-of-type(1) td:nth-of-type(4),
		table tbody tr:nth-of-type(14) td:nth-of-type(4),
		table tbody tr:nth-of-type(1) td:nth-of-type(5),
		table tbody tr:nth-of-type(14) td:nth-of-type(5),
		table tbody tr:nth-of-type(1) td:nth-of-type(6),
		table tbody tr:nth-of-type(14) td:nth-of-type(6),  {
			display: none;

			@include breakpoint(large) {
				display: table-cell !important;
			}
		}
	}

	.membership-table .table-caption {
		p {
			font-size: 13px;
			margin: 0 0 0px;
		}
	}

	.benefits-documents {
		margin: 30px 0 50px;

		h3 {
			background: lighten(desaturate($blue,50%), 55%);
			padding: 7px;
			color: darken($blue, 20%);
		}

		.benefits {
			text-align: left;
			h4 {
				margin: 0;
			}
		}

		.documents {

			ul {
				li {
					margin-left: 15px;
				}
			}
		}
	}

	.sign-up {
		background: darken(white, 6);
		text-align: center;
		padding: 30px 0;

		p {
			margin: 0 0 20px;
			@include font-size(22px);
			@include line-height(26px);
			font-weight: 600;

			@include breakpoint(medium) {
				@include font-size(24px);
				@include line-height(30px);
				font-weight: 600;
				max-width: 90%;
				margin: 0 auto 20px;
			}
		}

		a {
			margin: 0 auto;
			display: inline-block;
		}
	}
}

// #12 Watchdog Service Membership

div#page.watchdog-membership {

	.watchdog-top {
		margin-top: 30px;

		.watchdog-logo {
			text-align: center;
			margin: 0 0 20px;

			@include breakpoint(medium) {
				margin: 0;
			}

			img {
				max-width: 270px;

				@include breakpoint(medium) {
					max-width: 100%;
				}
			}
		}

		.boxes {
			margin: 0px 0 0;

			.box {
				background: darken(white, 6);
				padding: 20px;
				margin: 0 0 20px;

				.box-image {
					text-align: center;
					margin: 0 0 20px;

					img {
						max-height: 40px;
					}
				}

				p {
					font-weight: 700;
				}
			}
		}
	}

	.watchdog-list {
		margin: 30px 0 0;

		ol {
			@include column-count(1);
			@include column-gap(0);
			@include column-rule(none);
			margin-left: 30px;
			margin-right: 30px;

			@include breakpoint(medium) {
				@include column-count(2);
				@include column-gap(60px);
				@include column-rule(none);
			}

			& > li {
				font-weight: 700;
				@include font-size(18px);

				& > ul {
					margin: 0 0 20px 15px;

					& > li {
						font-weight: 400;
						@include font-size(16px);
					}
				}
			}
		}
	}

	.sign-up {
		background: darken(white, 6);
		text-align: center;
		padding: 30px 0;

		p {
			margin: 0 0 20px;
			@include font-size(22px);
			@include line-height(26px);
			font-weight: 600;

			@include breakpoint(medium) {
				@include font-size(24px);
				@include line-height(30px);
				font-weight: 600;
				max-width: 90%;
				margin: 0 auto 20px;
			}
		}

		a {
			margin: 0 auto;
			display: inline-block;
		}
	}

}

// #13 Reviews

div#page.reviews {

	.review-each {
		margin: 30px 0 0;
		padding: 30px 0 10px;
		border-top: solid 1px $border;

		&:last-child {
			margin: 0;
		}
	}
}

// #14 Employee Files

div#page.employee-files {
	h3 {
		margin: 20px 0 5px;
		background: lighten(desaturate($blue,50%), 55%);
		padding: 7px;
		color: darken($blue, 20%);
	}
}

// #15 Products

div#page.product-pages {

	.woocommerce-breadcrumb {
		display: block;
		margin: 0 0 20px;
		font-size: 13px;
		color: #0a0a0a;

		a {
			color: $blue;
			@include transition(color, 0.2s, ease);

			&:hover {
				color: lighten($blue, 10%);
			}
		}

	}

	form.woocommerce-product-search {

		margin: 0 0 20px;

		@include breakpoint(medium) {
			text-align: right;
			//margin: 0;
		}

		label.screen-reader-text {
			display: inline-block;
			position: absolute;
			top: 0;
			left: -9999em;
			text-indent: -9999em;
		}

		input[type="search"] {
			max-width: 300px;
			display: inline-block;
			background: darken(white, 5%);
			border: none;
			box-shadow: none;
			resize: none;
			margin: 0 !important;
		    height: 39px;
		    padding: 8px;
		    box-sizing: border-box;
		}

		input[type="submit"] {
			display: inline-block;
			height: 39px;
			width: 39px;
			border: none;
			top: -1px;
			position: relative;
			background: url("/wp-content/themes/summers-and-zims/img/search.png") darken(white,60%) center center no-repeat;
			background-size: 20px 20px;
			text-indent: -9999em;
		}
 	}

 	p.woocommerce-result-count {
 		@include font-size(14px);
 	}

 	.product-row {
 		float: left;
	    padding-left: .9375rem;
	    padding-right: .9375rem;

	    ul.product-loop {
		    margin: 0 -.9375rem;
		    list-style: none;
		    float: left;
		    padding-left: 0;



		    li {
			    padding: 0 .9375rem .9375rem;
		    	width: 100%;

				@include breakpoint(medium) {
					float: left;
					width: 25%;
				}

				img {
					margin: 0 0 10px;
					border: solid 1px $border;
					padding: 10px;
				}

				h3 {
					@include font-size(15px);
					@include line-height(19px);
					font-weight: 700;
					margin: 0 0 0 !important;

					.brand {
						display: block;
						font-size: 16px !important;
						font-weight: 700;
					}
				}

				span.price {
					@include font-size(15px);
					@include line-height(15px);
					color: $money;

				}

				h2.woocommerce-loop-product__title {
					font-size: 18px;
					line-height: 22px;
					margin-bottom: 0;
					color: $blue;
				}
		    }
	    }
 	}


	div.product {

		h1.product_title {
			margin: 0 0 20px;
			color: darken($blue, 25%);

			@include breakpoint(medium) {
				margin: 0 0 40px;
			}
		}

		ul.tabs {
			padding: 0 !important;
			margin: 0 !important;
			background: transparent;
			border: none;

			&:before {
				border-bottom: none;
			}

			li {
				margin: 0 !important;
				padding: 0 !important;
				border: none;

				a {
					font-size: 23px !important;
					@include line-height(18px);
					cursor: default;
					color: darken($blue, 25%);
					padding: 0;
				}
			}
		}

			.price {
				font-weight: 700;
				color: lighten(black, 20%);
				font-size: 20px;
			}

			.stock {
				color: $money;
			}

			form.cart {
				padding: 0 !important;
				margin: 0 !important;

				button[type="submit"] {
					background: $blue !important;
					color: lighten($blue, 63%) !important;
			    	text-shadow: 0px -1px 0px darken($blue, 33%);
					@include transition(background, 0.2s, ease);
					margin: 0;

					&:hover {
				    	background: lighten($blue, 10%) !important;
					    color: lighten($blue, 65%) !important;
					}

				}
			}

		div.product-purchase{
			background: darken(white, 6);
			padding: 10px;

			.price {
				font-weight: 700;
				color: lighten(black, 20%);
				font-size: 20px;
			}

			.stock {
				color: $money;
			}

			form.cart {
				padding: 0 !important;
				margin: 0 !important;

				button[type="submit"] {
					background: $blue !important;
					color: lighten($blue, 63%) !important;
			    	text-shadow: 0px -1px 0px darken($blue, 33%);
					@include transition(background, 0.2s, ease);
					margin: 0;

					&:hover {
				    	background: lighten($blue, 10%) !important;
					    color: lighten($blue, 65%) !important;
					}

				}
			}
		}
	}

	.woocommerce-message {
		border-top-color: $money;

		&:before {
			color: $money;
			left: 1.6em;
		}

		.button {
			background: $blue !important;
			color: lighten($blue, 63%) !important;
	    	text-shadow: 0px -1px 0px darken($blue, 33%);
			@include transition(background, 0.2s, ease);
			margin: 0 0 0;

			&:hover {
		    	background: lighten($blue, 10%) !important;
			    color: lighten($blue, 65%) !important;
			}
		}
	}

	.customer-service {
		padding-top: 20px;

		h4 {
			margin: 0 0 2px;
			font-size: 15px;
			color: darken(white,60%);

		}

		p {
			@include font-size(14px);
			@include line-height(18px);
			color: darken(white,50%);
		}
	}

	.product_meta {
		padding: 10px;
		background: lighten($yellow, 27%);
		@include font-size(13px);
		//font-weight: 700;
	}

	#jp-relatedposts {
	    display: none !important;
	}
}

div#page.product-cart {

	.woocommerce-message {
		border-top-color: $money;

		&:before {
			color: $money;
			left: 1.6em;
		}
	}

	table.shop_table {
		border-radius: none !important;
		border: none;

		&:nth-child(2) {
			border: solid 1px $border;
		}

		thead {
			background: darken(white,6);
		}

		tbody {

			td {
				div.quantity {
					input {
						box-shadow: none;
					}
				}
			}

			td.product-remove {
				a {
					color: $alert !important;

					&:hover {
						color: white !important;
						background: $alert !important;
					}
				}
			}

			tr:last-child {
				background: none;

				.button {
					display: inline-block;
					padding: 5px 15px !important;
					background: lighten(black, 20%) !important;
					color: white !important;
			    	text-shadow: 0px -1px 0px darken($blue, 33%);
					//@include transition(background, 0.2s, ease);
					margin: 0 0 0;
					@include line-height(30px);

					&:hover {
				    	background: lighten(black, 30%) !important;
					}
				}
			}
		}
	}

	.wc-proceed-to-checkout {
		text-align: right;
		a.checkout-button {
			padding: 5px 15px;
			margin: 0 0 20px 0;
			display: inline-block;
			border: none;
		    @include border-radius(3px);
			@include font-size(14px);
			@include line-height(30px);
			text-transform: uppercase;
			text-align: center;
			text-decoration: none !important;
			font-weight: 600;
			cursor: pointer;


		    background: $blue !important;
			color: lighten($blue, 63%) !important;
	    	text-shadow: 0px -1px 0px darken($blue, 33%);
			@include transition(background, 0.2s, ease);

			&:hover {
		    	background: lighten($blue, 10%) !important;
			    color: lighten($blue, 65%) !important;
			}

		}
	}
}

.select2-drop-active {
    border: 1px solid $border;
    border-top: none;
}

div#page.product-checkout {


	.woocommerce-info {
		border-top: solid 3px $blue;
		background: darken(white, 6);

		&:before {
			color: $blue;
		}
	}

	.woocommerce form {
		border: 1px solid $border;
		border-radius: 0px;

		&[name="checkout"] {
			border: none;
		}

		label {
			font-weight: 700;
			@include font-size(14px);
		}

		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="tel"],
		textarea{
			background: darken(white, 2%);
			border: solid 1px $border;
			box-shadow: none;
			resize: none;
			margin: 0 !important;
			border-radius: 0;
			resize: none;

		}

		.select2-container,
		.select2-choice {
			border: none;
			border-radius: none;
			background: darken(white, 5%);
			padding: 3px;
		}

		input[type="submit"] {
			padding: 5px 15px;
			margin: 0 10px 20px 0;
			display: inline-block;
			border: none;
		    @include border-radius(3px);
			@include font-size(14px);
			@include line-height(30px);
			text-transform: uppercase;
			text-align: center;
			text-decoration: none !important;
			font-weight: 600;
			cursor: pointer;
		    background: $blue !important;
			color: lighten($blue, 63%) !important;
	    	text-shadow: 0px -1px 0px darken($blue, 33%);
			@include transition(background, 0.2s, ease);

			&:hover {
		    	background: lighten($blue, 10%) !important;
			    color: lighten($blue, 65%) !important;
			}
		}

		label[for="rememberme"] {
			input[type="checkbox"] {
				margin-right: 2px;
			}
		}

		p.create-account {

			input[type="checkbox"] {
				margin-right: 2px;

				&+ label {
					margin-left: 0;
				}
			}
		}

		.form-row {

			.required {
			    color: $alert;
			    font-weight: 700;
			    border: 0;
			    text-decoration: none;
			}

			&.woocommerce-invalid label {
				color: $alert;
			}

		}

	}

	.woocommerce-checkout {
		input[type="text"] {
			font-size: 1em !important
		}
	}

	table.shop_table {
		border-radius: none !important;
		border: none;

		&:nth-child(2) {
			border: solid 1px $border;
		}

		thead {
			background: darken(white,6);
		}

		tbody {

			td {
				div.quantity {
					input {
						box-shadow: none;
					}
				}
			}

			td.product-remove {
				a {
					color: $alert !important;
				}
			}

			tr:last-child {
				background: none;

				.button {
					display: inline-block;
					padding: 5px 15px !important;
					background: lighten(black, 20%) !important;
					color: white !important;
			    	text-shadow: 0px -1px 0px darken($blue, 33%);
					//@include transition(background, 0.2s, ease);
					margin: 0 0 0;
					@include line-height(30px);

					&:hover {
				    	background: lighten(black, 30%) !important;
					}
				}
			}
		}
	}

	#payment div.payment_box input.js-sv-wc-payment-gateway-credit-card-form-account-number {

		&.discover,
		&.visa,
		&.amex,
		&.dinersclub,
		&.mastercard {
			background-repeat: no-repeat;
			background-position: right center;
		}
	}


}

div#page.product-pages,
div#page.product-cart,
div#page.product-checkout {

	.woocontent {
		padding-top: 20px;
	}

	.cart-active {

		@include breakpoint(medium) {
			text-align: right;
		}

		a.view-cart {
			padding: 0 0 0 27px;
			margin: 0 0 20px;
			display: inline-block;
			@include font-size(14px);
			text-transform: uppercase;
			font-weight: 600;
			color: $blue;
			background: url("/wp-content/themes/summers-and-zims/img/view-cart.png") left 0 no-repeat;
			background-size: 24px 19px;

			span {
				text-indent: -9999em;
				display: inline-block;
			}

		}
	}
}

// #16 Staff
div#page.staff {

	form#search-employees {

		margin: 0 0 50px;
		height: 39px;

		input[type="search"] {
			max-width: 300px;
			display: inline-block;
			background: darken(white, 5%);
			border: none;
			box-shadow: none;
			resize: none;
			margin: 0 !important;
		    height: 39px;
		    padding: 8px;
		    box-sizing: border-box;
		    float: left;
		}

		input[type="submit"] {
			border-radius: none;
			display: inline-block;
			height: 39px;
			width: 39px;
			border: none;
			position: relative;
			background: url("/wp-content/themes/summers-and-zims/img/search.png") darken(white,60%) center center no-repeat;
			background-size: 20px 20px;
			text-indent: -9999em;
			float: left;
			margin-left: 5px;
		}
	}

	.staff-each {
		position: relative;
		margin: 0 0 30px;
		text-align: center;
		z-index: 2;

		& > a:first-child {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 3;
		}

		.staff-name-position {
			position: absolute;
			bottom: 0;
			left: 0;
			background: transparentize(darken($blue, 25%), 0.2);
			width: 100%;
			height: 50px;
			padding: 5px 10px;
			z-index: 2;

			span.staff-name {
				display: block;
				color: white;
				@include font-size(14px);

				@include breakpoint(medium) {
					@include font-size(15px);
					font-weight: 700;
				}
			}

			span.staff-position {
				display: block;
				color: $yellow;
				@include font-size(11px);
				position: relative;
				top: -2px;

				@include breakpoint(medium) {
					@include font-size(12px);
				}
			}
		}
	}


}

// #17 Footer

footer.site-footer {
	background: darken($blue, 25%);


	&> div.row > div > .section {
		float: left;
		width: 100%;
		margin: 0 0 15px 0;
		color: $footertext;

		#co,#street,#state,#voice,#fax,#ft-email {
			display: block;
		}

		&:last-child {
			margin: 0;
		}

		img.angies-list {
			padding: 5px;
			background: white;
		}

		h4 {
			color: white;
			margin: 0;
			@include font-size(14px);
			@include line-height(18px);
			text-transform: uppercase;
			font-weight: 700;
		}

		p,li,span {
			@include font-size(13px);
			@include line-height(17px);
		}

		a {
			color: lighten($blue, 30%);
			@include transition(color, 0.2s, ease);

			&:hover {
				color: lighten($blue, 50%);
			}
		}

		ul.social {

			li {
				float: left;
				margin: 0 10px 0 0;

				&:last-child {
					margin: 0;
				}

				img {
					display: block;
					width: 34px;
					height: 34px;
				}
			}
		}

		#map {
			height: 100%;
			height: 300px;
		}
	}
}

// #18 Service Area Map
.service-area {

	#service-map {
		height: 100%;
		height: 500px;
	}
}

// #19 Interior Page Styles

#page.interior {

}

// #20 Careers Page

#page.careers {

	.mission {
		.mission-image {
			min-height: 429px;
			position: relative;

			&:after {
				position: absolute;
				z-index: 1;
				content: "";
				width: 100%;
				height: 100%;
				background: hsla(0,0,0%,0.7);
				top: 0;
				left: 0;
			}

		}

		.mission-statement {
			padding: 80px 0.625em;
			position: relative;
			z-index: 2;

			@include breakpoint(medium) {
				padding: 80px 0;
			}

			h1.page-title {
				font-size: 48px;
				font-weight: bold;
				color: white;
			}

			h2 {
				font-size: 36px;
				line-height: 42px;
				color: $yellow;
				margin-bottom: 20px;
			}

			h3 {
				color: white;
				font-size: 24px;
				margin-bottom: 0;
			}

			ul {
				margin-left: 0;

				li {
					position: relative;
					color: white;
					list-style: none;
					padding-left: 40px;
					margin-bottom: 30px;
					line-height: 30px;

					&:before {
						position: absolute;
						top: 0;
						left: 0px;
						width: 30px;
						height: 30px;
						@include border-radius(30px);
						border: solid 1px $yellow;
						color: $yellow;
						font-weight: 400;
						display: inline-block;
						text-align: center;
						line-height: 30px;
					}

					&:nth-child(1):before {
						content: "1";
					}

					&:nth-child(2):before {
						content: "2";
					}

					&:nth-child(3):before {
						content: "3";
					}
				}
			}


			p {
				font-size: 20px;
				line-height: 26px;
				color: white;
				font-weight: 400;
			}
		}
	}

	.video {
		padding: 80px 0;
	}



	.benefits {
		background: lighten(desaturate($blue,100%), 60%);
		padding: 80px 0;
		text-align: left;

		h2 {
			font-size: 36px;
			line-height: 42px;
			color: $blue;
			margin-bottom: 20px;
		}

		p:last-child {
			margin-bottom: 0;
		}

		.benefits-quote {
			padding: 15px 0;
			border-top: solid 2px lighten(desaturate($blue,80%), 30%);
			border-bottom: solid 2px lighten(desaturate($blue,80%), 30%);
			margin-bottom: 20px;

			p {
				color: desaturate($blue,80%);
				font-weight: 700px;
				font-size: 16px;
				line-height: 28px;
			}
		}
	}

	.positions {
		padding: 80px 0;
		h2 {
			font-size: 36px;
			line-height: 42px;
			color: $blue;
			margin-bottom: 20px;
		}

		.accordion {
			margin: 0;

			.accordion-item {
				list-style: none;
				margin-bottom: 20px;
				@include font-size(18px);

				&:last-child {
					margin-bottom: 0;
				}

				.accordion-title {
					padding: 0 15px;
					height: 50px;
					line-height: 50px;
					border-top: solid 2px darken(white, 15%);
					display: block;
					@include transition(all, 0.2s, ease);
					background: darken(white,5%);
					font-weight: 600;
					color: $blue;
					position: relative;

					&:hover {
						border-top: solid 2px $blue;
						background: darken(white,3%);
					}

				 	&:before,
				    &:after{
				        content: "";
				        position: absolute;
				        background-color: $blue;
				        transition: transform 0.25s ease-out;
				        -webkit-transition: transform 0.25s ease-out;
				    }

				    /* Vertical line */
				    &:before{
				        top: 23px;
				        right: 22px;
				        width: 2px;
				        height: 16px;
				    }

				    /* horizontal line */
				    &:after{
				        top: 22px;
				        right: 15px;
				        width: 16px;
				        height: 2px;
				    }

				    &[aria-expanded="true"] {

				    	background: darken(white,3%);

		    	        &:before {
		    	        	transform: rotate(90deg);
		    	        	-webkit-transform: rotate(90deg);
		    	        	-moz-transform: rotate(90deg);
		    	        }

				        &:after {
				        	transform: rotate(180deg);
				        	-webkit-transform: rotate(180deg);
				        	-moz-transform: rotate(180deg);
				        }

				    }

				}

				.accordion-content {
					display: none;
					padding: 15px;

					&[aria-hidden="false"] {
						background: darken(white,3%);
					}

					p, li {
						@include font-size(16px);
					}

					h4 {
						line-height: 20px;
						margin-bottom: 0;
					}

					ul {
						margin-bottom: 20px;
					}
				}
			}
		}
	}

	.application {
		padding: 0 0 80px;

		h2 {
			font-size: 36px;
			line-height: 42px;
			color: $blue;
			margin-bottom: 20px;
		}

		h4 {
			text-transform: uppercase;
			font-size: 14px;
			margin-bottom: 0;
		}

		.application-form {
			form {
				input[type="file"] {
					width: 100%;
					max-width: 300px;
					background: white;

					&::-ms-value {
						border: solid 1px darken(white, 5%);
					}

					&::-ms-browse {
						background: darken(white, 5%);
						display: inline-block;
						border: solid 1px darken(white,10%);
					    @include border-radius(1px);
						@include font-size(14px);
						@include line-height(30px);
						text-transform: uppercase;
						text-align: center;
						font-weight: 600;
						color: black;
					}
				}

				p:last-child {
					margin: 0;
				}
			}
		}
	}


	main {
		padding-top: 30px;

		.job-descriptions {

			.description {
				margin-bottom: 20px;

				&:not(:first-child) {
					padding-top: 20px;
					border-top: solid 1px #ccc;
				}

				&:last-child {
					padding-bottom: 20px;
					border-bottom: solid 1px #ccc;
				}

				h3 {
					font-size: 18px;
					font-weight: 700;
					margin-bottom: 5px !important;
				}

				p {
					margin-bottom: 0;
				}

				a.go-apply {
					font-size: 12px;
					text-transform: uppercase;
					font-weight: bold;
				}

			}
		}

	}

	.page-sidebar {
		.visual-editor {
			li {
				text-align: left;
			}
		}
	}
}

// #21 5 Point Guarantee

#page.five-point-guarantee {

	h3 {
		clear: both;
	}

	p img.alignleft {
		float: left;
		display: inline-block;
		margin-right: 15px;
		margin-bottom: 15px;
	}
}

// #22 Contact Us
#page.contact-us {
	.contact-video {
		margin-top: 20px;
	}
}

// #23 Financing
#page.financing {
	.apply {
		background: #f0f0f0;
		border: solid 5px lighten(desaturate($blue, 70%), 50%);
		width: 100%;
		height: 100px;
		position: relative;
		margin: 20px 0;
		display: flex;
		align-items: center;
		padding-left: 20px;

		input.button.blue {
			margin: 0;
		}

		img.financing-logo {
			height: 60px;
		}
	}
}

// #24 Sensi Smart HVAC Maintenance
#page.sensi {
	padding-top: 0;
	padding-bottom: 50px;

	section {

		padding: 30px 15px;

		&:nth-child(odd) {
			background: #f0f0f0;

			figure {
				background: white !important;
			}
		}

		&:nth-child(even) {
			background: white;

			figure {
				background: #f0f0f0;

			}
		}

		figure {
			text-align: center;
			padding: 10px;
			margin: 0;
			width: 100%;

			&> figcaption {
				font-size: 13px;
			}
		}


		h2 {
			font-weight: 300;
			font-size: 24px;
			line-height: 30px;

			@include breakpoint(medium) {
				font-size: 32px;
				line-height: 38px;
				max-width: 650px;
			}
		}

		h3 {
			font-weight: 300;
			font-size: 18px;
			line-height: 24px;

			@include breakpoint(medium) {
				font-size: 24px;
				line-height: 30px;
				max-width: 650px;
			}
		}

		h4 {
			font-weight: 300;
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}

			@include breakpoint(medium) {
				font-size: 18px;
				line-height: 24px;
				max-width: 650px;
			}
		}

		a.button {
			margin-top: 20px;
		}

		&.row {

			.cell {

				margin-bottom: 15px;

				@include breakpoint(medium) {
					margin-bottom: 0;
				}

				ul {
					margin: 0;
					padding: 0;

					li {
						list-style: none;
						font-size: 16px;
						line-height: 22px;
						margin-bottom: 10px;
						padding-left: 30px;
						color: #002D4D;
						position: relative;

						&:before {
							width: 30px;
							height: 30px;
							position: absolute;
							top: 0;
							left: 0;
							background: url("/wp-content/themes/summers-and-zims/img/material-yes.svg") left 3px no-repeat;
							background-size: 24px;
							content: "";
						}

						@include breakpoint(medium) {
							font-size: 18px;
							line-height: 24px;
							margin-bottom: 12px;
						} 
					}	
				}
			
			}

		}


		&.row.cells--two {

			.cells--container {
				margin-top: 20px;

				@include breakpoint(medium) {
					display: flex;
					justify-content: space-between;
				}

				.cell {
					padding: 10px;
				}

				&.cell--six-six {

					.cell {
						width: 100%;	

						@include breakpoint(medium) {
							width: calc(50% - 15px);		
						}
						
					}
				}

				&.cell--four-eight {

					.cell {						

						&:nth-child(1) {

							width: 100%;

							@include breakpoint(medium) {
								width: 50%;	
							}

							@include breakpoint(large) {
								width: 33.3333333%;	
							}
							
						}

						&:nth-child(2) {

							width: 100%;

							@include breakpoint(medium) {
								width: 50%;	
							}

							@include breakpoint(large) {
								width: 66.6666666%;	
							}
							
						}

					}
				}

				&.cell--eight-four {

					.cell {

						&:nth-child(1) {

							width: 100%;

							@include breakpoint(medium) {
								width: 50%;	
							}

							@include breakpoint(large) {
								width: 66.6666666%;	
							}
							
						}

						&:nth-child(2) {

							width: 100%;

							@include breakpoint(medium) {
								width: 50%;	
							}

							@include breakpoint(large) {
								width: 33.3333333%;	
							}
							
						}

					}
				}
			}

		}

		&.row.cells--three {

			.cells--container {

				@include breakpoint(large) {
					display: flex;
					justify-content: space-between;
					align-content: center;

					.cell {

						@include breakpoint(large) {
							width: calc(33.3333333% - 10px);
							
							padding: 15px;
						}
					}
				}
			}
		}
	}
}

* {
	box-sizing: border-box;
}

body.update {
	h1 {

	}

	h2 {
		font-size: 2rem;
		font-weight: bold;
	}

	h3 {
		font-size: 1.2rem;
		font-weight: bold;
	}

	ul,li {
		margin: 0;
		padding: 0;
	}

}

// #22 Header Update
header#update {
	position: fixed;
	z-index: 3;
	display: flex;
	flex-wrap: wrap;

	&.scroll {
		height: 60px;
		background: hsla(0,0%,90%,1);
		width: 100vw;
		padding: 10px 0;
	}

	// Time Message
	.header__time-message {	
		flex: 100vw;
		width: 100vw;
		background: hsla(0,0%,90%,1);
		padding: 0 20px;
		margin: 0 0 30px;

		&.scroll {
			display: none;
		}

		p {
			font-size: 1rem;
			line-height: 2.25em;
			margin: 0;
		}
	}

	.header__left {
		flex: 300px;
		padding: 0 20px;

		img {

			&#logo {
				width: 200px;
				max-width: 140px;

				&.scroll {
					display: none;
				}
			}

			&#logo-small {
				width: 75px;
				display: none;

				&.scroll {
					display: block;
				}
			}
		}
	}

	.header__right {
		flex: auto;
		padding: 0 20px;

		ul.header__main-menu {
			display: flex;
			list-style: none;
			margin: 0 0 30px;
			justify-content: flex-end;

			li {
				list-style: none;
				margin: 0 10px;

				a {
					color: $blue;
					padding: 10px;
					text-transform: uppercase;
					font-weight: bold;
					font-size: .8rem;
					margin: 0;
					display: block;
					background: hsla(0,0,90%,0.7);
					border-radius: 3px;

				}

				&:last-child a {
					background: red;
					color: white;
					border-radius: 3px;
				}
			}

		}

		.header__years-of-experience {
			justify-content: flex-end;
			display: flex;

			&.scroll {
				display: none;

			}

			.header__years--show {
				width: 80px;
				position: relative;


				.header__years {
					position: absolute;
					top: 5px;
					left: 50%;
					transform: translateX(-50%);
					display: inline-block;
					color: $yellow; // f0ad6d
					font-size: 30px;
					font-weight: 800;
					-webkit-text-stroke-width: 1px;
					-webkit-text-stroke-color: darken($yellow, 40%);			

				}

				.header__years-duration {
					font-weight: 800;
					font-size: 13px;
					text-align: center;
					display: block;
					color: #003C66;
				}

				img {
					width: 100px;
				}
			}
		}
	}

}
// #23 Home Page Update

main {
	position: relative;
}

.section__hero {
	width: 100vw;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;

	video {
		height: 100%;
		width: 100%;
	}
}

.section__featured-cards {
	padding-top: 450px;
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;

	section.featured-card__card {
		width: 28vw;
		background: white;
		margin: 0 10px;

		figure {
			margin: 0;
			padding: 0;
		}

		main {
			padding: 10px;
			background: hsla(0,0%,93%,1);

			h3 {
				font-weight: bold;
			}			
		}

	}

}

.section__staff {
	padding: 100px 0;
	text-align: center;

	h2 {
		text-align: center;
	}

	ul.staff__staff-members {
		display: flex;
		justify-content: center;
		list-style: none;
		margin: 40px 0;

		li {
			width: 120px;
			margin: 0 10px;

			figure {
				margin: 0;
				padding: 0;

				figcaption {
					font-size: 12px;
				}
			}
		}
	}



	a {
		text-align: center;
	}

}

.section__the-difference {
	position: relative;
	margin: 0 0 100px 0;
	
	h2 {
		position: absolute;
		top: 10px;
		left: 10px;
	}
	.the-difference__featured {
		margin-bottom: 10px;

		li {
			height: 500px;
			display: flex;
			display: none;
			flex-wrap: wrap;
			justify-content: center;
			align-content: center;

			h4 {
				flex: 100%;
				text-align: center;
			}
		}

		li:nth-of-type(1) {
			display: flex;
		}

	}

	.the-difference__pagination {
		ul {
			display: flex;
			list-style: none;

			li {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 200px;
				height: 200px;
				margin-right: 10px;
				cursor: pointer;

			}
		}
	}
}

.section__home-performance{
	background: hsla(0,0%,90%,1);
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 100px 0;

	h2 {
		flex: 100vw;
		text-align: center;
		margin: 0 0 40px 0;
	}

	section.featured-card__card {
		width: 30vw;
		background: white;
		margin: 0 10px;

		figure {
			margin: 0;
			padding: 0;
		}

		main {
			padding: 10px;

			h3 {
				font-weight: bold;
			}			
		}

	}

}

.section__reviews {
	padding: 100px 0;
	background: hsla(0,0%,20%,1);

	section.review {
		text-align: center;
		color: white;
		q {
			font-style: italic;

			&:before {
				content: "";
			}
		}
	}
}

.section__brands {
	padding: 100px 0;
	h2 {
		text-align: center;
	}

	p {
		text-align: center;
	}

	ul {
		display: flex;
		padding: 0;
		list-style: none;
		justify-content: center;

		li {
			margin: 0 5px;
			padding: 0;

			figure {
				margin: 0;
				padding: 0;
				width: 8vw;
			}
		}
	}
}

// #24 Footer Update

footer {
	background: hsla(0,0,90%,1);
	padding: 50px 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	section {
		width: 40vw;
		margin: 10px 0;

		ul.social {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;

			li {
				width: 24px;
				margin: 0 5px 0 0;
				padding: 0;
			}
		}
	}
}
















