

// Media Queries
@mixin breakpoint($point) {
  @if $point == medium {
    @media (min-width: $medium) { @content; }
  }
  @elseif $point == ipad {
    @media (min-width: $ipad) { @content; }
  }
  @elseif $point == large {
    @media (min-width: $large) { @content; }
  }
  @elseif $point == xlarge {
    @media (min-width: $xlarge) { @content; }
  }    
}

// HTML5 Placeholder
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder {@content}
  ::-moz-placeholder {@content}
  :-ms-input-placeholder {@content}  
}

// Font Sizes
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin line-height($size) {
  line-height: $size;
  line-height: calculateRem($size);
}

// Transitions
@mixin transition($args...) {
  transition: $args;
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
}

// Transform
@mixin transform($args...) {
  transform: $args;
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
}

// Border Radius
@mixin border-radius($args...) {
  border-radius: $args;
  -webkit-border-radius: $args;
  -moz-border-radius: $args;
  -ms-border-radius: $args;
  -o-border-radius: $args;
}

// Column Count 
@mixin column-count($args...) {
  column-count: $args;
  -webkit-column-count: $args;
  -moz-column-count: $args;
  -ms-column-count: $args;
  -o-column-count: $args;
}

// Column Gap
@mixin column-gap($args...) {
  column-gap: $args;
  -webkit-column-gap: $args;
  -moz-column-gap: $args;
  -ms-column-gap: $args;
  -o-column-gap: $args;
}

// Column Rule
@mixin column-rule($args...) {
  column-rule: $args;
  -webkit-column-rule: $args;
  -moz-column-rule: $args;
  -ms-column-rule: $args;
  -o-column-rule: $args;  
}

