// Breakpoints
$medium: 768px;
$large: 1024px;
$xlarge: 1200px;

$blue: hsla(205, 100%, 34%, 1);
$yellow: hsla(40, 91%, 57%, 1); // aka #f5b330
$alert: hsla(0, 100%, 40%, 1);
$border: lighten(grayscale($blue), 50%);
$money: hsla(127, 53%, 28%, 1);
$good-natured-green: hsla(148, 100%, 29%, 1);

//Font * Text Styles 
$font: "Open Sans", sans-serif;
$footertext: hsla(0, 0%, 80%, 1);
