.review {
	font-style: italic;
	font-weight: 700;
}

.review-source {
	color: #777;
}

.heading-light-bg {
	background: lighten(desaturate($blue,50%), 55%);
	padding: 7px;
	color: darken($blue, 20%);
	font-weight: 700;
	margin: 0 0 10px;
}

.heading-dark-bg {
	background: darken(white, 80%);
	padding: 7px;
	color: white;
	font-weight: 700;
	margin: 0 0 10px;
}

.fine-print {
	font-size: 12px;
	line-height: 15px;
}
