// #1 Header

header#masthead {
	max-width: 75rem;
	//height: 132px;
	background: hsla(208, 52%, 95%, 1);
	//@include transition(height, 0.2s, ease);
	position: relative;
	// padding-top: 10px;
	//

	@include breakpoint(medium) {
		//height: 110px;
		margin: 0 auto;
	}

	@include breakpoint(large) {
		padding-top: 0;
	}

	.header-padding {
		// padding: 0 15px;
		// overflow: auto;
		// border-bottom: solid 1px blue;
	}

	a.logo-link {
		//display: inline-block;
	}



		//height: 141px;
		//background: orange;
		// border-bottom: solid 1px #D1E0EA;
		// position: relative;

		// @include breakpoint(medium) {
		// 	//padding-bottom: 25px;
		// 	height: 140px;
		// }
		//
		// @include breakpoint(large) {
		// 	float: left;
		// 	height: 170px;
		// }

		// Set logo, mascot and years to custom widths, ditch columns

	.section-logos {
		padding: 0 15px;
		background: white;

		@include breakpoint(medium) {
			background: none;
		}
	}

	.site-branding {
		background: white;
		padding-top: 15px;

		@include breakpoint(medium) {
			//background: none;
		}
	}

	.logos {
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		@include breakpoint(medium) {
			justify-content: flex-start;
		}

		@include breakpoint(large) {
			//justify-content: space-around;
		}

		// Mascot
		.mascot {
			width: 80px;


			@include breakpoint(medium) {
				position: absolute;
				top: 2px;
				z-index: 2;
				width: 90px;
				left: 10px;
			}

			@include breakpoint(large) {
				top: 5px;
				width: 95px;
			}
		}

		.logo {

			// flex-grow: 1;
			//background: red;
			position: relative;
			width: 180px;
			left: 0px;

			@include breakpoint(medium) {
				width: 150px;
				left: 100px;
			}

			@include breakpoint(large) {
				left: 0;
				width: 180px;
				margin-left: 120px;
			}

			img {
				// max-width: 180px;

				@include breakpoint(medium) {
					// margin-top: 5px;
				}

				@include breakpoint(large) {
					// max-width: 180px;
					// width: 180px;
					// height: 97px;
				}
			}
		}

		// Years in service
		.years {
			width: 100px;
			position: relative;
			//margin-top: 20px;

			@include breakpoint(medium) {
				left: 120px;
			}

			@include breakpoint(large) {
				left: 0;
				margin: 0 20px;
			}

			.years-num {
				position: absolute;
				top: 8px;
				left: 50%;
				transform: translateX(-50%);
				display: inline-block;
				color: $yellow; // f0ad6d
				font-size: 36px;
				font-weight: 800;
				 -webkit-text-stroke-width: 1px;
				 -webkit-text-stroke-color: #2e1905;

			}

			.years-biz {
				font-weight: 800;
				font-size: 13px;
				text-align: center;
				display: block;
				color: #003C66;
			}

			img {
				width: 100px;
			}
		}
	}


	.section-call-truck {
		background: lightblue;

		@include breakpoint(medium) {
			background: none;
		}
	}

		.years-call-truck {
			display: flex;
			justify-content: space-evenly;

			@include breakpoint(large) {
				justify-content: flex-end;
			}


			// Phone Number / Emergency
			.call {
				// width: 50%;

				span {
					margin: 0;
					display: block;
				}

				span:nth-child(1) {
					text-transform: uppercase;
					font-weight: 700;
					font-size: 16px;
					line-height: 16px;
					margin-bottom: 10px;

					@include breakpoint(large) {
						font-size: 19px;
					}
				}

				span:nth-child(2) {
					font-size: 14px;
					line-height: 14px;
					font-style: italic;
					margin-bottom: 10px;
					font-weight: 600;

					@include breakpoint(large) {
						font-size: 16px;
					}
				}

				span:nth-child(3) {
					font-size: 20px;
					line-height: 20px;
					font-weight: 700;
					display: block;

					a {
						color: $alert;
						text-decoration: none;
					}

					@include breakpoint(large) {
						margin-top: 15px;
						font-size: 26px;
					}
				}


			}

			// .truck-emergency {
			// 	padding: 10px 20px; // Additional 10px on each side due to collapse
			// 	background: white;
			// 	border-bottom: solid 1px #D1E0EA;
			// 	background: white;
			//
			// 	width: 100%;
			//
			// 	@include breakpoint(medium) {
			//
			// 	}
			//
			// 	@include breakpoint(large) {
			//
			// 	}



				.truck {
					//width: 50%;
					width: 200px;
					padding: 0;
					text-align: right;

					@include breakpoint(medium) {
						margin-top: 5px;

					}

					img {
						padding: 0;
					}
				}
			// }


		}









	.site-contact {

		@include breakpoint(medium) {
			position: static;
			//padding-top: 15px;
		}

		@include breakpoint(large) {
			float: left;
		}

		.site-contact-row {

			@include breakpoint(medium) {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
		}

		// .site-contact-box {
		//
		// 	@include breakpoint(medium) {
		// 		float: left;
		// 	}
		//
		// 	@include breakpoint(large) {
		// 		float: none;
		// 		display: block;
		// 		clear: both;
		// 	}
		//
		// 	// Remove text decoration from phone number
		// 	a {
		// 		text-decoration: none;
		// 	}
		// }

		.time-message {
			clear: both;
			padding: 10px 20px; // Additional 10px on each side due to collapse
			border-bottom: solid 1px #D1E0EA;
			background: hsla(208, 52%, 95%, 1);

			@include breakpoint(medium) {
				padding: 10px 10px 10px 25px;
				clear: none;
				//float: left;
				border-bottom: none;
				//background: red;
				height: 100px;
			}

			@include breakpoint(large) {
				height: 50px;
				margin: 0 .9375em;
				padding: 6px 6px 6px 15px;
			}

			p {
				font-size: 12px;
				margin: 0;

				&:nth-child(1) {
					font-weight: 700;
				}

				.open {
					color: $money;;
				}

				.closed {
					color: $alert;
				}

				@include breakpoint(large) {
					font-size: 13px;
				}
			}
		}
	}

	// Navigation
	.title-bar {
		position: absolute;
		top: 0;
		right: 0;
		background: none;

		@include breakpoint(medium) {
			position: static;
		}

		.title-bar-title {
			text-indent: -9999em;
		}

		.menu-icon::after {
		    content: '';
		    position: absolute;
		    display: block;
		    width: 100%;
		    height: 2px;
		    background: darken($blue, 30%);
		    top: 0;
		    left: 0;
		    box-shadow: 0 7px 0 darken($blue, 30%), 0 14px 0 darken($blue, 30%);
		}
	}
	// End title bar
}


// #2 Navigation
nav.off-canvas {
	background: lighten(desaturate($blue,80%), 60%);

	ul#menu-mobile-navigation {
		margin: 0;
		padding: 0;
		&> li {
				border-top: solid 1px lighten(grayscale($blue), 40%);

			&:first-child {
				border-top: none !important;
			}

			&.mobile-nav-schedule> a {
				background: $alert;
				color: white;
			}

			&> a {
				color: darken($blue, 25%);

				&::after {
				    border-color: darken($blue, 25%) transparent transparent;
				}
			}

			& > ul > li {
				border-top: solid 1px #ccc;

				&> a {
					color: darken($blue,25%);

					&::after {
					    border-color: darken($blue, 25%) transparent  transparent;
					}
				}

				& > ul li {
					border-top: solid 1px #ccc;

					& > a {
						color: darken($blue,25%);
					}
				}
			}
		}
	}
}


nav.top-bar {
	background: lighten(desaturate($blue,80%), 50%);
	display: flex;
	justify-content: flex-end;

	@include breakpoint(medium) {
		// position: absolute;
		// bottom: 0;
		// left: 0;
		// width: 100%;
		position: relative;
	//	left: 15px;
	}

	@include breakpoint(large) {
		bottom: -1px; // strange offset in large
	}

	.top-bar-left {


		@include breakpoint(medium) {
			position: relative;
			//left: -30px; // No idea why top bar isn't coming in with page.
		}

		@include breakpoint(large) {
			left: 0;
			z-index: 3;
		}
	}

	ul[role="menubar"] {
		background: lighten(desaturate($blue,80%), 50%);
		border-left: 1px solid lighten(grayscale($blue), 40%);
		margin: 0;
		padding: 0;


		@include breakpoint(medium) {

		}

		& > li:not(:last-child) {
    		border-right: 1px solid lighten(grayscale($blue), 40%);
		}

		& > li.is-down-arrow {
			& > a {
				padding: 0 30px 0 20px !important;
			}
		}

		& > li {

			& > a {
				padding: 0 20px !important;
				color: black;
				height: 40px;
				@include font-size(13px);
				@include line-height(40px);
				font-weight: 600;
				text-decoration: none;

				@include breakpoint(large) {
					height: 50px;
					@include line-height(50px);

					padding: 0 12px !important;

				}


				&:hover {
					background: lighten(desaturate($blue,80%), 20%) !important;
					color: white;
				}

				&:after {
				    border: inset 5px;
				    border-color: darken($blue, 25%) transparent transparent;
				    top: 1.25rem;
				    right: 0.9375rem;
				}
			}

			& > ul.submenu {
				background: lighten(desaturate($blue,80%), 50%) !important;
				z-index: 3;
				margin: 0;
				padding: 0;
				min-width: 250px;



				& > li:not(:last-child) {
		    		border-right: none;
				}

				& > li.is-right-arrow {
					& > a {
						padding: 0 20px 0 20px !important;
						position: relative;
						font-weight: 600;

						&:after {
							position: absolute;
							top: 0;
							right: 15px;
							margin-top: 18px;
							border-color: transparent darken($blue, 25%) transparent;
						}
					}

					& > ul.submenu {
						background: lighten(desaturate($blue,80%), 50%) !important;
						border-left: 1px solid lighten(grayscale($blue), 40%);
						top: 1px;
						margin: 0;
						padding: 0;
						min-width: 250px;
					}
				}

				& > li a {
					color: black;
					padding: 0 0 0 20px;
					font-weight: 600;
					text-decoration: none;

					&:hover {
						background: lighten(desaturate($blue,80%), 20%) !important;
						color: white;
					}
				}
			}
		}

		& > li.nav-schedule a {
				background: $alert;
				color: white;

				&:hover {
					background: lighten($alert, 20%) !important;
				}

		}

		& > li.nav-pay a {
				//background: $money;
				//color: white;

				&:hover {
					//background: lighten($money, 20%) !important;
				}

		}

		& > li.active {

			& > a {
				background: lighten(desaturate($blue,80%), 20%);
				color: white;

				&:after {
				    border-color: black transparent transparent !important;
				}
			}

			& > ul > li.active > a {
				background: lighten(desaturate($blue,80%), 20%);
				color: white;
			}

		}
	}
}
